<a href="https://colab.research.google.com/github/PatoNaft/first-git-project/blob/master/Calender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from calendar import*
year = int(input('enter year:'))
print (calendar(year, 2, 1, 8, 4))

enter year:1994
                                                  1994

      January                     February                     March                       April
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                1  2            1  2  3  4  5  6            1  2  3  4  5  6                     1  2  3
 3  4  5  6  7  8  9         7  8  9 10 11 12 13         7  8  9 10 11 12 13         4  5  6  7  8  9 10
10 11 12 13 14 15 16        14 15 16 17 18 19 20        14 15 16 17 18 19 20        11 12 13 14 15 16 17
17 18 19 20 21 22 23        21 22 23 24 25 26 27        21 22 23 24 25 26 27        18 19 20 21 22 23 24
24 25 26 27 28 29 30        28                          28 29 30 31                 25 26 27 28 29 30
31

        May                         June                        July                       August
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                   1               1  2  3  4  5                     1  2  3         1  2  3  4  5  6  7
 2  3  4  5  6  7  8         6  7  8  9 10 11 12         4  5  6  7  8  9 10         8  9 10 11 12 13 14
 9 10 11 12 13 14 15        13 14 15 16 17 18 19        11 12 13 14 15 16 17        15 16 17 18 19 20 21
16 17 18 19 20 21 22        20 21 22 23 24 25 26        18 19 20 21 22 23 24        22 23 24 25 26 27 28
23 24 25 26 27 28 29        27 28 29 30                 25 26 27 28 29 30 31        29 30 31
30 31

     September                    October                     November                    December
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
          1  2  3  4                        1  2            1  2  3  4  5  6                  1  2  3  4
 5  6  7  8  9 10 11         3  4  5  6  7  8  9         7  8  9 10 11 12 13         5  6  7  8  9 10 11
12 13 14 15 16 17 18        10 11 12 13 14 15 16        14 15 16 17 18 19 20        12 13 14 15 16 17 18
19 20 21 22 23 24 25        17 18 19 20 21 22 23        21 22 23 24 25 26 27        19 20 21 22 23 24 25
26 27 28 29 30              24 25 26 27 28 29 30        28 29 30                    26 27 28 29 30 31
                            31